<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Добро пожаловать!</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <button onclick="location.href='{{ url_for('login') }}'" class="button">Войти</button>
    <button onclick="location.href='{{ url_for('register') }}'" class="button">Зарегистрироваться</button>
</body>
</html>
